name: SAST
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  sast-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: AppThreat/sast-scan-action@master
        with:
          type: "flutter"
